
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Gallery</h2>
                <ol class="breadcrumb greylinks">
                    <li class="active">Feburary 2019 Gallery</li>
                </ol>
            </div>
        </div>
    </div>
</section><section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 bottommargin_0">
                <div class="filters isotope_filters"> <a href="#" class="" data-filter="*">All</a> <a href="#" data-filter=".day-1" class="selected active">day 1</a> <a href="#" data-filter=".day-2">day 2</a> <a href="#" data-filter=".day-3">day 3</a> <a href="#" data-filter=".day-4">day 4</a>								</div>
            </div>            <div class="col-sm-8 col-sm-push-2 topmargin_0">
                <div class="isotope_container isotope row masonry-layout columns_margin_bottom" data-filters=".isotope_filters" style="position: relative; height: 1629.98px;" >
                    <div class="isotope-item col-lg-12 col-md-12 col-sm-12 day-1" style="position: absolute; left: 0%; top: 0px;">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                @*<img src="images/Events/Feb2019/01.jpeg" alt="">*@
                                <div class="media-links">
                                    <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/images/Events/Feb2019/01.jpeg"></a> </div>
                                </div>
                            </div>
                            @*<div class="item-content">
        <h4> <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a> </h4>
                        </div>*@
                        </div>
                    </div>
                    <div class="isotope-item col-lg-12 col-md-12 col-sm-12 day-2" style="position: absolute; left: 0%; top: 543px; display: none;">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="/images/Events/Feb2019/02.jpeg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/images/Events/Feb2019/02.jpeg"></a> </div>
                                </div>
                            </div>
                            @*<div class="item-content">
        <h4> <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a> </h4>
                        </div>*@
                        </div>
                    </div>
                    <div class="isotope-item col-lg-12 col-md-12 col-sm-12 day-3" style="position: absolute; left: 0%; top: 1086px; display: none;">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="/images/Events/Feb2019/03.jpeg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/images/Events/Feb2019/03.jpeg"></a> </div>
                                </div>
                            </div>
                            @*<div class="item-content">
            <h4> <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a> </h4>
                        </div>*@
            </div>
        </div>
        <div class="isotope-item col-lg-12 col-md-12 col-sm-12 day-4" style="position: absolute; left: 0%; top: 1629px; display: none;">
            <div class="vertical-item gallery-item content-absolute text-center ds">
                <div class="item-media">
                    <img src="/images/Events/Feb2019/04.jpeg" alt="">
                    <div class="media-links">
                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/images/Events/Feb2019/04.jpeg"></a> </div>
                    </div>
                </div>
                @*<div class="item-content">
        <h4> <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a> </h4>
            </div>*@
                        </div>
                    </div>
                    <div class="isotope-item col-lg-12 col-md-12 col-sm-12 day-1" style="position: absolute; left: 0%; top: 543px;">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="/images/Events/Feb2019/05.jpeg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/images/Events/Feb2019/05.jpeg"></a> </div>
                                </div>
                            </div>
                            @*<div class="item-content">
        <h4> <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a> </h4>
                        </div>*@
                        </div>
                    </div>
                    <div class="isotope-item col-lg-12 col-md-12 col-sm-12 day-2" style="position: absolute; left: 0%; top: 2716px; display: none;">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="/images/Events/Feb2019/06.jpeg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/images/Events/Feb2019/06.jpeg"></a> </div>
                                </div>
                            </div>
                            @*<div class="item-content">
        <h4> <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a> </h4>
                        </div>*@
                        </div>
                    </div>
                    <div class="isotope-item col-lg-12 col-md-12 col-sm-12 day-3" style="position: absolute; left: 0%; top: 3259px; display: none;">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="/images/Events/Feb2019/07.jpeg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/images/Events/Feb2019/07.jpeg"></a> </div>
                                </div>
                            </div>
                            @* <div class="item-content">
        <h4> <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a> </h4>
                        </div>*@
                        </div>
                    </div>
                    <div class="isotope-item col-lg-12 col-md-12 col-sm-12 Day-4" style="position: absolute; left: 0%; top: 3803px; display: none;">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="/images/Events/Feb2019/08.jpeg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/images/Events/Feb2019/08.jpeg"></a> </div>
                                </div>
                            </div>
                            @*<div class="item-content">
                                <h4> <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a> </h4>
                            </div>*@
                        </div>
                    </div>
                    <div class="isotope-item col-lg-12 col-md-12 col-sm-12 Day-1" style="position: absolute; left: 0%; top: 1086px;">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="/images/Events/Feb2019/09.jpeg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/images/Events/Feb2019/09.jpeg"></a> </div>
                                </div>
                            </div>
                            @*<div class="item-content">
        <h4> <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a> </h4>
                        </div>*@
                        </div>
                    </div>
                    <div class="isotope-item col-lg-12 col-md-12 col-sm-12 Day-2" style="position: absolute; left: 0%; top: 4889px; display: none;">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="/images/Events/Feb2019/10.jpeg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/images/Events/Feb2019/10.jpeg"></a> </div>
                                </div>
                            </div>
                            @*<div class="item-content">
        <h4> <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a> </h4>
                        </div>*@
                        </div>
                    </div>
                    <div class="isotope-item col-lg-12 col-md-12 col-sm-12 Day-3" style="position: absolute; left: 0%; top: 5433px; display: none;">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="/images/Events/Feb2019/11.jpeg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/images/Events/Feb2019/11.jpeg"></a> </div>
                                </div>
                            </div>
                            <div class="item-content">
                                @*<h4> <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a> </h4>*@
                            </div>
                        </div>
                    </div>
                    <div class="isotope-item col-lg-12 col-md-12 col-sm-12 Day-4" style="position: absolute; left: 0%; top: 5976px; display: none;">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="/images/Events/Feb2019/12.jpeg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/images/Events/Feb2019/12.jpeg"></a> </div>
                                </div>
                            </div>
                            @*<div class="item-content">
        <h4> <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a> </h4>
                        </div>*@
                        </div>
                    </div>
                </div>
                <!-- eof .isotope_container.row -->
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="topmargin_30">
                            <ul class="pagination">
                                <li><a href="#"><span class="sr-only">Prev</span><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                <li class="active">
                            <a href ="@Url.Action("Feb2019Event", "Gallery")">1</a></li>
                                <li><a href="@Url.Action("Feb2019Event", "Gallery")">2</a></li>
                                <li><a href="@Url.Action("Feb2019Event", "Gallery")">3</a></li>
                                <li><a href="@Url.Action("Feb2019Event", "Gallery")">4</a></li>
                                <li><a href="@Url.Action("Feb2019Event", "Gallery")">5</a></li>
                                <li><a href="@Url.Action("Feb2019Event", "Gallery")"><span class="sr-only">Next</span><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>