
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Gallery</h2>
                <ol class="breadcrumb greylinks">
                    
                    <li class="active">Gallery</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section id="events" class="ls section_padding_top_10">
    <h2 class="section_header color">Temple Photos</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 bottommargin_0 to_animate animated fadeInUp" data-animation="fadeInUp">
                <div class="row masonry-feed columns_padding_1">
                    <div class="col-xs-12 col-md-3">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-12">
                                <div class="vertical-item content-absolute text-center ds">
                                    <div class="item-media"> <img src="~/images/Gallery/03.jpg" alt=""> </div>
                                    <div class="item-content darken_gradient">
                                        <h3 class="entry-title"> <a href="@Url.Action("About","History")">Old Temple Architecture </a> </h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-12">

                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12">
                                <div class="vertical-item content-absolute text-center ds">
                                    <div class="item-media"> <img src="~/images/Gallery/012.jpg" alt=""> </div>
                                    <div class="item-content darken_gradient">
                                        <h3 class="entry-title"> <a href="@Url.Action("About","History")">Lord Venkateshwara</a> </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-3">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-12">

                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12">
                                <div class="vertical-item content-absolute text-center ds">
                                    <div class="item-media"> <img src="~/images/Gallery/080.jpg" alt=""> </div>
                                    <div class="item-content darken_gradient">
                                        <h3 class="entry-title"> <a href="@Url.Action("About","History")">Lord Hanuman</a> </h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-12">

                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12">
                                <div class="vertical-item content-absolute text-center ds">
                                    <div class="item-media"> <img src="~/images/Gallery/011.jpg" alt=""> </div>
                                    <div class="item-content darken_gradient">
                                        <h3 class="entry-title"> <a href="@Url.Action("About","History")">Harathi</a> </h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <div class="vertical-item content-absolute text-center ds">
                            <div class="item-media"> <img src="~/images/Gallery/021.jpg" alt=""> </div>
                            <div class="item-content darken_gradient">
                                <h3 class="entry-title"> <a href="@Url.Action("About","History")">New Temple Architecture</a> </h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

