
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Temple History</h2>
                <ol class="breadcrumb greylinks">
                    <li> <a href="./">History</a> </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_100">
    <div class="col-sm-12 bottommargin_0 to_animate animated fadeInUp" data-animation="fadeInUp">
        <h2 class="section_header color">Time lines of Temple</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="text-center col-sm-12 ">
                <!--<ul id="timetable_filter" class="greylinks filters">
                    <li> <a data-filter="all" href="#" class="selected">All</a> </li>
                    <li> <a data-filter=".Suprabhata-Seva" href="#">Suprabhata-Seva</a> </li>
                    <li> <a data-filter=".Aaradhana" href="#">Aaradhana</a> </li>
                    <li> <a data-filter=".Mangalasashanam" href="#">Mangalasashanam</a> </li>
                    <li> <a data-filter=".Parayanam" href="#">Parayanam</a> </li>
                    <li> <a data-filter=".Gosti" href="#">Gosti</a> </li>
                    <li> <a data-filter=".Eekantha Seva" href="#">Eekantha Seva</a> </li>

                </ul>-->
                <div class="clearfix"></div>
                <div class="table-responsive">
                    <table class="table_template darklinks" id="timetable">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th style="text-align:left">Time line Progress of temple</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>2007</th>
                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Bala Alaya Nirmanam
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>2008</th>
                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Temple Planning and Design
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>2009</th>
                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Vaikunta Ekadashi – 40 Devotees , with 14 feet idol
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>2010</th>
                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        New Design and new planning
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>2011</th>
                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Kalyannotsavam, Rathayathra , Extensive Planning and Started Jai Sreemannarayan Charitable trust services
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>2012</th>
                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Idol/Swamy arrived to Sangareedy
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>2013</th>
                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        14 Feet Lord Venkateshwara Idol Installed (Prathishta) on panchami thidhi, and Started daily rituals
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>2014</th>
                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Free Archana services for vaikuntapuramu devotees.
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>2015</th>
                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Newly Built Goshala for swamy daily rituals and Introduced Goshala Charitable trust services
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>2016</th>
                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Nithya Annadanam services for Vaikuntapuramu devotees.
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>2017</th>
                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Took 18 feet matti Ganapathi idol construction with in temple premises
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>2018</th>
                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        New creative construction architecture initiation for 4 side Dwaras/ Doors around temple
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>2019</th>
                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Rajagopuram construction and Veda Patashala
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>