
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Temple Events</h2>
                <ol class="breadcrumb greylinks">
                    
                    <li> <a href="#">Service</a> </li>
                    <li class="active">Events</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_30">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-8 col-lg-8 col-sm-push-5 col-md-push-4 col-lg-push-4">

                <article class="post side-item side-md content-padding with_border bottom_color_border left loop-color">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="item-media">
                                <img src="images/events/06.jpg" alt="">
                                <div class="media-links"> <a class="abs-link" title="" href=" @Url.Action("Events","Service")"></a> </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="item-content">
                                <header class="entry-header">
                                    <div class="entry-meta greylinks inline-content">
                                        <span>
                                            <i class="fa fa-calendar highlight" aria-hidden="true"></i>
                                            <time datetime="2017-10-03T08:50:40+00:00">16 Oct, 2018 at 06:00 am</time>
                                        </span> <span>
    <i class="fa fa-map-marker highlight" aria-hidden="true"></i>
    Sri Vaikuntapuramu, Sangareddy
</span>
                                    </div>
                                    <h3 class="entry-title small"> <a href=" @Url.Action("Events","Service")">Maha Sapthami</a> </h3>
                                </header>
                                <p>For the nine days, in the evening, women, especially young girls, gather in large numbers with their Bathukammas in open areas of their locality. All women will form a circle around the Bathukamma and start singing folk songs by clapping their hands and revolving around the Bathukamma</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post side-item side-md content-padding with_border bottom_color_border left loop-color">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="item-media">
                                <img src="images/events/01.jpg" alt="">
                                <div class="media-links"> <a class="abs-link" title="" href=" @Url.Action("Events","Service")"></a> </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="item-content">
                                <header class="entry-header">
                                    <div class="entry-meta greylinks inline-content">
                                        <span>
                                            <i class="fa fa-calendar highlight" aria-hidden="true"></i>
                                            <time datetime="2017-10-03T08:50:40+00:00">17 Oct, 2018 at 06:00 am</time>
                                        </span> <span>
    <i class="fa fa-map-marker highlight" aria-hidden="true"></i>
    Sri Vaikuntapuramu, Sanga reddy
</span>
                                    </div>
                                    <h3 class="entry-title small"> <a href=" @Url.Action("Events","Service")">Maha Ashtami</a> </h3>
                                </header>
                                <p>Final day for the eight days. Pedda Bathukmma clebrated on this day,in the evening, women, especially young girls, gather in large numbers with their Bathukammas in open areas of their locality. All women will form a circle around the Bathukamma and start singing folk songs by clapping their hands and revolving around the Bathukamma</p>
                            </div>
                        </div>
                    </div>
                </article>

                <!---->

                <article class="post side-item side-md content-padding with_border bottom_color_border left loop-color">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="item-media">
                                <img src="images/events/06.jpg" alt="">
                                <div class="media-links"> <a class="abs-link" title="" href=" @Url.Action("Events","Service")"></a> </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="item-content">
                                <header class="entry-header">
                                    <div class="entry-meta greylinks inline-content">
                                        <span>
                                            <i class="fa fa-calendar highlight" aria-hidden="true"></i>
                                            <time datetime="2017-10-03T08:50:40+00:00">18 Oct, 2018 at 06:00 pm</time>
                                        </span> <span>
                                            <i class="fa fa-map-marker highlight" aria-hidden="true"></i>
                                            Sri Venkatapuram, Sangareddy
                                        </span>
                                    </div>
                                    <h3 class="entry-title small"> <a href=" @Url.Action("Events","Service")">Maha Navami</a> </h3>
                                </header>
                                <p>For the nine days, in the evening, women, especially young girls, gather in large numbers with their Bathukammas in open areas of their locality. All women will form a circle around the Bathukamma and start singing folk songs by clapping their hands and revolving around the Bathukamma.</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post side-item side-md content-padding with_border bottom_color_border left loop-color">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="item-media">
                                <img src="images/events/06.jpg" alt="">
                                <div class="media-links"> <a class="abs-link" title="" href=" @Url.Action("Events","Service")"></a> </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="item-content">
                                <header class="entry-header">
                                    <div class="entry-meta greylinks inline-content">
                                        <span>
                                            <i class="fa fa-calendar highlight" aria-hidden="true"></i>
                                            <time datetime="2017-10-03T08:50:40+00:00">19 Oct, 2018 at 06:00 am</time>
                                        </span> <span>
                                            <i class="fa fa-map-marker highlight" aria-hidden="true"></i>
                                            Sri Vaikuntapuramu, Sangareddy
                                        </span>
                                    </div>
                                    <h3 class="entry-title small"> <a href=" @Url.Action("Events","Service")">Dussehra</a> </h3>
                                </header>
                                <p>Vijayadashami (Devanagari: विजयदशमि ) (Telugu: విజయదశమి) is a composite of two words "jampala" (विजय) and "Dashami" (दशमी), which respectively mean "victory"[11] and "tenth,"[12] connotinfffg the festival on the tenth day celebrating the victory of good over evil.[1][7] The same Hindu festival-related term, however, takes different forms in different regions of India and Nepal, as well as among Hindu minorities found elsewhere.</p>
                            </div>
                        </div>
                    </div>
                </article>


                <div class="row topmargin_60">
                    <div class="col-sm-12 text-center">
                        <ul class="pagination">
                            <li><a href="#"><span class="sr-only">Prev</span><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><span class="sr-only">Next</span><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--eof .col-sm-8 (main content)-->
            <!-- sidebar -->
            <aside class="col-sm-5 col-md-4 col-lg-4 col-sm-pull-7 col-md-pull-8 col-lg-pull-8">
                <div class="widget widget_search">
                    <form method="get" class="searchform" action="./">
                        <div class="form-group margin_0"> <label class="sr-only" for="widget-search">Search for:</label> <input id="widget-search" type="text" value="" name="search" class="form-control" placeholder="Search keyword..."> </div> <button type="submit" class="theme_button color1">Search</button>
                    </form>
                </div>
                <div class="widget widget_apsc_widget">
                    <h4 class="widget-title">Social Networks</h4>
                    <div class="apsc-icons-wrapper clearfix apsc-theme-4">
                        <div class="apsc-each-profile">
                            <a class="apsc-facebook-icon clearfix" href="#">
                                <div class="apsc-inner-block">
                                    <span class="social-icon">
                                        <i class="fa fa-facebook apsc-facebook"></i>
                                        <span class="media-name">Facebook</span>
                                    </span> <span class="apsc-count">9.8K</span><span class="apsc-media-type">Fans</span>
                                </div>
                            </a>
                        </div>
                        <div class="apsc-each-profile">
                            <a class="apsc-twitter-icon clearfix" href="#">
                                <div class="apsc-inner-block">
                                    <span class="social-icon">
                                        <i class="fa fa-twitter apsc-twitter"></i>
                                        <span class="media-name">Twitter</span>
                                    </span> <span class="apsc-count">4.9K</span><span class="apsc-media-type">Followers</span>
                                </div>
                            </a>
                        </div>
                        <div class="apsc-each-profile">
                            <a class="apsc-google-plus-icon clearfix" href="#">
                                <div class="apsc-inner-block">
                                    <span class="social-icon">
                                        <i class="apsc-googlePlus fa fa-google-plus"></i>
                                        <span class="media-name">google+</span>
                                    </span> <span class="apsc-count">10.1M</span><span class="apsc-media-type">Followers</span>
                                </div>
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="widget widget_archive">
                    <h4 class="widget-title">Archives</h4>
                    <ul class="greylinks">
                        <li class="active"> <a href="#">January 2018</a> <span>/ 15</span> </li>
                        <li> <a href="#">February 2018</a> <span>/ 195</span> </li>
                        <li> <a href="#">March 2018</a> <span>/ 56</span> </li>
                        <li> <a href="#">April 2018</a> <span>/ 24</span> </li>
                    </ul>
                </div>
                <div class="widget widget_calendar">
                    <div id="calendar_wrap">
                        <table id="wp-calendar" class="">
                            <caption>Jan 2017</caption>
                            <thead>
                                <tr>
                                    <th scope="col" title="Monday">Mon</th>
                                    <th scope="col" title="Tuesday">Tue</th>
                                    <th scope="col" title="Wednesday">Wed</th>
                                    <th scope="col" title="Thursday">Thu</th>
                                    <th scope="col" title="Friday">Fri</th>
                                    <th scope="col" title="Saturday">Sat</th>
                                    <th scope="col" title="Sunday">Sun</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4" class="pad">&nbsp;</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td><a href="blog-right@Url.Action("Events","Service")" title="">3</a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>5</td>
                                    <td><a href="blog-right@Url.Action("Events","Service")" title="">6</a></td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>12</td>
                                    <td>13</td>
                                    <td>14</td>
                                    <td>15</td>
                                    <td>16</td>
                                    <td>17</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td><a href="blog-right@Url.Action("Events","Service")" title="">19</a></td>
                                    <td id="today">20</td>
                                    <td>21</td>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>24</td>
                                </tr>
                                <tr>
                                    <td>25</td>
                                    <td>26</td>
                                    <td>27</td>
                                    <td>28</td>
                                    <td>29</td>
                                    <td>30</td>
                                    <td>31</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3" id="prev"> <a href="blog-right@Url.Action("Events","Service")" data-toggle="tooltip" title="Prev">Jan</a> </td>
                                    <td class="pad">&nbsp;</td>
                                    <td colspan="3" id="next"> <a href="blog-right@Url.Action("Events","Service")" data-toggle="tooltip" title="Next">Mar</a> </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="widget widget_slider widget_recent_posts">
                    <h4 class="widget-title">Popular Posts</h4>
                    <div class="owl-carousel loop-colors" data-nav="true" data-loop="true" data-autoplay="true" data-items="1" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">
                        
                        <div class="vertical-item content-padding with_border">
                            <div class="item-media bottommargin_15">
                                <img src="images/gallery/05.jpg" alt="">
                                <div class="media-links"> <a class="abs-link" title="" href="blog-single-left@Url.Action("Events","Service")"></a> </div>
                            </div>
                            <div class="item-content">
                                <h5 class="bottommargin_0"> <a href="blog-single-right@Url.Action("Events","Service")">Ganesh Nimarjanam </a> </h5> <span class="entry-meta greylinks">
                                    <i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
                                    <a href="blog-single-full@Url.Action("Events","Service")">
                                        <time datetime="2018-09-03T08:50:40+00:00">
                                            22 Sep, 2018
                                        </time>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="vertical-item content-padding with_border">
                            <div class="item-media bottommargin_15">
                                <img src="images/gallery/07.jpg" alt="">
                                <div class="media-links"> <a class="abs-link" title="" href="blog-single-left@Url.Action("Events","Service")"></a> </div>
                            </div>
                            <div class="item-content">
                                <h5 class="bottommargin_0"> <a href="blog-single-right@Url.Action("Events","Service")">Dusshera Celebrations</a> </h5> <span class="entry-meta greylinks">
                                    <i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
                                    <a href="blog-single-full@Url.Action("Events","Service")">
                                        <time datetime="2018-10-19T08:50:40+00:00">
                                            19 Oct, 2018
                                        </time>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget_twitter">
                    <h4 class="widget-title">Twitter</h4>
                    <div class="twitter"></div>
                </div>
            </aside>
            <!-- eof aside sidebar -->
        </div>
    </div>
</section>