
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Temple History</h2>
                <ol class="breadcrumb greylinks">
                    <li> <a href="#">Service</a> </li>
                    <li class="active">Services</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_100">
    <div class="col-sm-12 bottommargin_0 to_animate animated fadeInUp" data-animation="fadeInUp">
        <h2 class="section_header color">Virat Venkateshwara Swamy- Ritual Services</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="text-center col-sm-12 ">
                <!--<ul id="timetable_filter" class="greylinks filters">
                    <li> <a data-filter="all" href="#" class="selected">All</a> </li>
                    <li> <a data-filter=".Suprabhata-Seva" href="#">Suprabhata-Seva</a> </li>
                    <li> <a data-filter=".Aaradhana" href="#">Aaradhana</a> </li>
                    <li> <a data-filter=".Mangalasashanam" href="#">Mangalasashanam</a> </li>
                    <li> <a data-filter=".Parayanam" href="#">Parayanam</a> </li>
                    <li> <a data-filter=".Gosti" href="#">Gosti</a> </li>
                    <li> <a data-filter=".Eekantha Seva" href="#">Eekantha Seva</a> </li>

                </ul>-->
                <div class="clearfix"></div>
                <div class="table-responsive">
                    <table class="table_template darklinks" id="timetable">
                        <thead>
                            <tr>
                                <th style="text-align:left">Weekly, Monthy and Yearly weekly Pilgrim Services</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Every month on Sravana Nakshatram – Sri Vari Thirumanjanam
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Every month on Uthara Phalguni Nakshatram – Maha Lakshmi Thirumanjanam
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Every month on Purva Phalguni Nakshatram – Goda Thirumanjanam
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Every month Chita & Swathi Nakshatram – Sudarshan Narasimha Thirumanjanam
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Every month Purav Bhadra Nakshatram – Anjaneya Swamy Thirumanjanam
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Every Pournima – Lakshmi Hayagriva Thirumanjanam
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Every Friday – Sarva Mangala Devi Thirumanjanam
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Every Tuesday & Saturday – Sindhuraachana for Anjaneya (Chandanarchana)
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Every Tuesday – Tamala Patra Archana & Vada Mala Seva
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Every Saturday – Vasudeva, Sudarshana, Narasimha Havanam & Palaki Seva for Srinivas Perumal
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Every Tuesday – Sri Rama Hanumat Moola Mantra Havanam
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        Every Friday – Maha Lakshmi Kumkuma Archana
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align:left">
                                    <a href="@Url.Action("Events","Service")" class="Suprabhata-Seva">
                                        SV Temple SRD was established to propagate the Hindu dharma and also helps promote the age-old cultural heritage of India,
                                        in the areas of traditional sculpture and architecture, temple renovation and reconstructions and restoration of Hindu sculptures
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>