
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Banner Section with coursel view (Slider View) -->
<section class="intro_section page_mainslider ds all-scr-cover bottom-overlap-teasers">
    <div class="flexslider" data-dots="true" data-nav="true">
        <ul class="slides">
            <li>
            <div class="slide-image-wrap"> <img src="~/images/slide01.jpg" alt="" /> </div>
                
                <!-- eof .container -->
            </li>
            <li>
                <div class="slide-image-wrap"> <img src="~/images/slide02.jpg" alt="" /> </div>
                
                <!-- eof .container -->
            </li>
            <li>
                <div class="slide-image-wrap"> <img src="~/images/slide03.jpg" alt="" /> </div>
              
                <!-- eof .container -->
            </li>
        </ul>
    </div>
    <!-- eof flexslider -->
</section>
<section id="services" class="ls section_intro_overlap columns_padding_0 columns_margin_0 container_padding_0">
    <div class="container-fluid">
        <div class="row flex-wrap v-center-content">
            <div class="col-lg-3 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
                <div class="teaser main_bg_color transp with_padding big-padding margin_0">
                    <div class="media xxs-media-left">
                        <div class="media-left media-middle">
                            <div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="fa fa-bell highlight" aria-hidden="true"></i> </div>
                        </div>
                        <div class="media-body media-middle">
                            <h4><a href="#0">Temple Seva(s)</a></h4>
                            <p>Rituals are performed to all the deities in the temple.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
                <div class="teaser main_bg_color2 transp with_padding big-padding margin_0">
                    <div class="media xxs-media-left">
                        <div class="media-left media-middle">
                            <div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="fa fa-calendar highlight2" aria-hidden="true"></i> </div>
                        </div>
                        <div class="media-body media-middle">
                            <h4><a href="#0">Priest Service</a></h4>
                            <p>Daily, Weekly, Motnhly, yearly and Festivals prayers at the temple.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
                <div class="teaser main_bg_color3 transp with_padding big-padding margin_0">
                    <div class="media xxs-media-left">
                        <div class="media-left media-middle">
                            <div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="fa fa-users highlight3" aria-hidden="true"></i> </div>
                        </div>
                        <div class="media-body media-middle">
                            <h4><a href="#0">Trust Services</a></h4>
                            <p>Temple trust offers the following services JSCT, SGGT & Tadiyaradhana.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
                <div class="teaser main_bg_color4 transp with_padding big-padding margin_0">
                    <div class="media xxs-media-left">
                        <div class="media-left media-middle">
                            <div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="fa fa-rupee highlight4" aria-hidden="true"></i> </div>
                        </div>
                        <div class="media-body media-middle">
                            <h4><a href="#0">Donate Us Now</a></h4>
                            <p>Your support will make us termodonous change in trust services.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!--	<h2 class="section_header color4">SRI VAIKUNTAPURAMU, SANGAREDDY, TELANGANA</h2>
    <p>SRI VAIKUNTAPURAMU VIRAT VENKATESWARA SWAMY DIVYA KSHETRAM</p>
</header>-->
<!-- One -->
<section id="about" class="ls section_padding_top_10 columns_padding_10">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6 to_animate" data-animation="fadeInUp" data-delay="600">
                <p class="section-excerpt grey">Vaikuntapuramu Sri Venkateshwara swamy- Sangareddy temple holy place premises video here.</p>
                <div class="embed-responsive embed-responsive-3by2">
                    <a href="https://www.youtube.com/embed/iXbwk-QMmtw" class="embed-placeholder">
                        <img src="~/images/gallery/11.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6 to_animate font-weight-bold" data-animation="fadeInRight" data-delay="300">
                <h2 class="section_header color4"> History Of Sri Vaikuntapuramu</h2>
                <p class="section-excerpt grey font-weight-bold">Narayana in the form of the saint (600 years ago) and evolving as Vaikuntapuramu Sri Venkateshwara at this holy place.</p>
                <h6 class="section_header">
                    In south india, there is a ritual which is, where ever, Lord Venkateshwara or Lord Sri Krishna or Sri Rama are installed To describe that Idol we need to understand the song which was written by Annamacharya. That song is “Andariki abhayyammulu ichu cheyi, kanduvagu manchi bangaru cheyi”. As that song describes the lord, even that Idol was evolved with at most beauty with a smiling face, Golden Hand (Abhaya Hastam),
                    Golden Chest Armour, Golden Thirunamam. All devotees who arrived that location were blessed by seeing that beautiful Idol.
                    They were blessed by the luck which couldn’t obtained by other life’s. Then they Installed that Idol in that newly constructed temple. From then the greatness of this temple was spread across the state and county.
                </h6>
    <a href="@Url.Action("About","History")" class="more-link">read more</a>

            </div>
        </div>
    </div>
</section>
<section id="events" class="ls section_padding_top_10">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 bottommargin_0 to_animate animated fadeInUp" data-animation="fadeInUp">
                <div class="row masonry-feed columns_padding_1">
                    <div class="col-xs-12 col-md-3">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-12">
                                <div class="vertical-item content-absolute text-center ds">
                                    <div class="item-media"> <img src="~/images/Gallery/03.jpg" alt=""> </div>
                                    <div class="item-content darken_gradient">
                                        <h3 class="entry-title"> <a href="@Url.Action("About","History")">Old Temple Architecture </a> </h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-12">

                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12">
                                <div class="vertical-item content-absolute text-center ds">
                                    <div class="item-media"> <img src="~/images/Gallery/012.jpg" alt=""> </div>
                                    <div class="item-content darken_gradient">
                                        <h3 class="entry-title"> <a href="@Url.Action("About","History")">Lord Venkateshwara</a> </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-3">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-12">

                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12">
                                <div class="vertical-item content-absolute text-center ds">
                                    <div class="item-media"> <img src="~/images/Gallery/080.jpg" alt=""> </div>
                                    <div class="item-content darken_gradient">
                                        <h3 class="entry-title"> <a href="@Url.Action("About","History")">Lord Hanuman</a> </h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-12">

                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12">
                                <div class="vertical-item content-absolute text-center ds">
                                    <div class="item-media"> <img src="~/images/Gallery/011.jpg" alt=""> </div>
                                    <div class="item-content darken_gradient">
                                        <h3 class="entry-title"> <a href="@Url.Action("About","History")">Harathi</a> </h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <div class="vertical-item content-absolute text-center ds">
                            <div class="item-media"> <img src="~/images/Gallery/021.jpg" alt=""> </div>
                            <div class="item-content darken_gradient">
                                <h3 class="entry-title"> <a href="@Url.Action("About","History")">New Temple Architecture</a> </h3>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

